/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

/* Base/Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button {
	border: none;
	cursor: pointer;
}

/* Body */
body {
	font-family: 'Quicksand', sans-serif;
}

/* Main Image */
.main {
	background: url('https://picsum.photos/1920/1080/?blur=2') no-repeat center
		center/cover;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
