/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

/* Base/Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button {
	border: none;
	cursor: pointer;
}

/* Body */
body {
	font-family: 'Quicksand', sans-serif;
}

/* Main Image */
.main {
	background: url('https://picsum.photos/1920/1080/') no-repeat center
		center/cover;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Login Container */
.login-container {
	background-color: hsla(201, 100%, 6%, 0.6);
	color: hsl(0, 100%, 100%);
	padding: 3.125rem 1.875rem;
	width: 50%;
	min-width: 25rem;
	max-width: 37.5rem;
}

/* Title */
.title {
	text-align: center;
	margin-bottom: 2.5rem;
	font-size: 2.5rem;
	font-weight: 500;
}

/* Form */
.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.25rem;
}

.form-label {
	font-weight: 300;
	font-size: 1.5rem;
	margin-bottom: 0.4375rem;
}
