/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

/* Base/Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button {
	border: none;
	cursor: pointer;
}

/* Body */
body {
	font-family: 'Quicksand', sans-serif;
}

/* Main Image */
.main {
	background: url('https://picsum.photos/1920/1080/') no-repeat center
		center/cover;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Login Container */
.login-container {
	background-color: hsla(201, 100%, 6%, 0.6);
	color: hsl(0, 100%, 100%);
	padding: 3.125rem 1.875rem;
	width: 50%;
	min-width: 25rem;
	max-width: 37.5rem;
}

/* Title */
.title {
	text-align: center;
	margin-bottom: 2.5rem;
	font-size: 2.5rem;
	font-weight: 500;
}

/* Form */
.login-form {
	font-weight: 300;
	font-size: 1.5rem;
}

.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.25rem;
}

.form-label {
	margin-bottom: 0.4375rem;
}

.form-input {
	font-size: inherit;
	font-weight: inherit;
	padding: 0.1rem 0.25rem;
	background-color: hsla(201, 100%, 91%, 0.3);
	border: 1px solid hsl(201, 100%, 6%);
	border-radius: 5px;
	color: hsl(0, 100%, 100%);
}

.form-input:focus {
	outline-style: solid;
	outline-color: hsl(201, 100%, 50%);
}

.form-btn {
	font-family: inherit;
	width: 100%;
	padding: 0.625rem 1.875rem;
	background-color: hsla(201, 100%, 50%, 0.1);
	color: hsl(0, 100%, 100%);
	border-radius: 5px;
	border: 1px solid hsl(201, 100%, 50%);
	font-size: inherit;
	margin-top: 1.25rem;
	transition: background-color 0.3s ease;
}

.form-btn:hover {
	background-color: hsla(201, 100%, 50%, 0.3);
}
