/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

/* Base/Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button {
	border: none;
	cursor: pointer;
}
